head {
    background-color: gray;
    color: white;
}

body {
    background-color: gray;
    color: white;
}

p {
    color: white;
}

a.link:link, a.link:visited {
    background-color: #365cf4;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a.link:hover, a.link:active {
    background-color: blue;
}

a.backup:link, a.backup:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a.backup:hover, a.backup:active {
    background-color: red;
}